html, body, div, a, table {
    margin:0%;
    padding:0%;
    font:inherit;
    font-size:100%;
    vertical-align: baseline;
    font-family: 'Noto Sans JP', sans-serif;
 }
h1, label {
    font-family: 'Noto Sans JP', sans-serif;
}

.top {
    background-image: url(../img/background.jpg);
    background-repeat: repeat;
    height: 250px;
    overflow: hidden;
 }

img.address {
    width: 35%;
    background-color:white;
    top: 20px;
    left: 32%;
    position: absolute;
}

div.box {
    width:84%;
    height: auto;
    margin: 8% 8% 3% 8%;
    border:solid 2px #cccccc;
    border-radius: 0.3em;

    top: 0;
    left: 0;
    background-color: white;
}

div.submit {
    text-align:center;
}

div.submit button {
    color: white;
    background-color: black;
    margin-top: 10px;
    height: 60px;
    width: 70%;
    border-radius: 0.3em;
    font-size:20px;
}

.bkBtn {
    margin-top:10px
 }

table {
    table-layout: fixed;
    width: 30%;
 }

table td.mailCenter {
    width: 1.5em;
 }

table tr td img {
     width: 100%;
 }

.about {
    margin:0 auto;
    top: 380px;
    position: relative;
}

.about img{
    width:75%;
    height: auto;
    margin: 8% 8% 3% 8%;
    border:solid 2px #cccccc;
    border-radius: 0.3em;
    padding: 4%;

    top: 0;
    left: 0;
}

.caution {
    margin:0 auto;
    top: 400px;
    position: relative;
}

.caution img{
    width:75%;
    height: auto;
    margin: 8% 8% 3% 8%;
    border:solid 2px #cccccc;
    border-radius: 0.3em;
    padding:4%;

    top: 0;
    left: 0;
}
