html, body, div, a, table {
    margin:0%;
    padding:0%;
    font:inherit;
    font-size:100%;
    vertical-align: baseline;
 }

.main {
    margin:0 auto;
    position: relative;
    height: 270px;
 }

.top {
    background-image: url(../img/background.jpg);
    background-repeat: repeat;
    height: 100%;
    overflow: hidden;
 }
.arc {
    top: 220px;
    left: 0;
    width: 100%;
    height: 50%;
    border-radius: 50% 50% 0 0;;
    background-color: white;
    position: absolute;
 }

label.topMsg {
    display: flex;
    justify-content: center;
    width: 300px;
    top: 70px;
    left: 50%;
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
    position: absolute;
    font-weight: bold;;
}

img.character {
    display: flex;
    justify-content: center;
    top: 190px;
    left: 50%;
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
    width:270px;
    position: absolute;
}

.main h1 {
     display: flex;
     justify-content: center;
     width: 300px;
     top: 300px;
     left: 50%;
     -webkit-transform : translate(-50%,-50%);
     transform : translate(-50%,-50%);
     position: absolute;
 }

div.shindan {
    top: 70px;
    width: 100%;
    position: relative;
}

img.address {
    width: 35%;
    background-color:white;
    top: 20px;
    left: 32%;
    position: absolute;
}

 div.edit {
    width:83%;
    height: 270px;
    margin: 8%;
    border:solid 2px #cccccc;
    border-radius: 0.3em;

    top: 0;
    left: 0;
    position: absolute;
}

div#err {
    margin: 15px 0px 5px 5%;
    height: 24px;
}

div.edit .head{
    display: flex;
    justify-content: flex-end;
    margin:0px 10% 20px 10%;
}

div.edit .tail {
    margin:0 10% 0 10%;
}

input#head{
    width: 100%;
    height: 45px;
    border:solid 2px #cccccc;
    font-size: 20px;
    border-radius: 0.3em;

}

.tailContents {
    display: flex;
    justify-content: flex-end;
    align-items:center;
}

label.atto {
    margin-right: 20px;
    font-size: 32px;
    color: #828282;
}

input#tail{
    width: 80%;
    height: 45px;
    border:solid 2px #cccccc;
    font-size: 20px;
    border-radius: 0.3em;
}

div.submit {
    text-align:center;
}

div.submit button {
    color: white;
    background-color: black;
    margin-top: 20px;
    height: 60px;
    width: 70%;
    border-radius: 0.3em;
    font-size:20px;
}

div.ad1 {
    position: relative;
    top: 400px;
    height: 50px;
}

div.ad2 {
    position: relative;
    top: 400px;
    height: 50px;
}

.caution {
    margin:0 auto;
    top: 440px;
    position: relative;
}

.caution img{
    width:75%;
    height: auto;
    margin: 8% 8% 3% 8%;
    border:solid 2px #cccccc;
    border-radius: 0.3em;
    padding:4%;

    top: 0;
    left: 0;
}

.about {
    margin:0 auto;
    top: 400px;
    position: relative;
}

.about img{
    width:75%;
    height: auto;
    margin: 8% 8% 3% 8%;
    border:solid 2px #cccccc;
    border-radius: 0.3em;
    padding: 4%;

    top: 0;
    left: 0;
}

.bkBtn {
    margin-top:10px
 }

table {
    table-layout: fixed;
    width: 30%;
 }

table td.mailCenter {
    width: 1.5em;
 }

table tr td img {
     width: 100%;
 }


