.top {
    height: auto;
}

.addressHead {
    margin:40px 5% 30px 5%;
    font-size: 3em;
    overflow-wrap: break-word;
    line-height: 1.2em;
}

.addressHead label {
    box-shadow: 0 10px 0.1px -0.1px #99CCFF,
                0 20px 0.1px -0.1px #ffadad;
}

.addressTail {
    margin:30px 5% 40px 5%;
    font-size: 3em;
    overflow-wrap: break-word;
    line-height: 1em;
}

.addressTail label{
    box-shadow: 0 10px 0.1px -0.1px #ffadad;
}

.addressTail label span {
    font-size:1em;
    color: darkgrey;
}

.headCount {
    font-size: 1.5em;
    color: #99CCFF;
    text-align: right;
    margin:5px 5% 5px 0;
}

.totalCount {
    font-size: 1.5em;
    color: #ffadad;
    text-align: right;
    margin:5px 5% 20px 0;
}

img.result {
    display: flex;
    justify-content: center;
    width: 40%;
    background-color:white;
    top: 30px;
    left: 50%;
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
    position: absolute;
}

.comment {
    text-align: center;
}

.comment img{
    width: 80%;
    margin-bottom: 10px;
}

.description {
    font-size: 1em;
    text-align: center;
    margin: 10%;
}

.description div{
    margin-top:10px;
}

.totalCountDesc {
    margin-bottom: 50px;
}

.totalCountTitle {
    font-size: 2em;
}

.totalResult {
    font-size: 4em;
    color: red;
}

.totalDesc {
    font-size: 1em;
    text-align: left;
}

.totalCountTitle a{
    background:linear-gradient(transparent 60%, #ffadad 60%);
    font-weight:bold;
}

.headCountDesc {
    margin-bottom: 50px;
}

.headCountTitle {
    font-size: 2em;
}

.headCountTitle a{
    background:linear-gradient(transparent 60%, #99CCFF 60%);
    font-weight:bold;
}

.headResult {
    font-size: 4em;
    color: red;
}

.headDesc {
    font-size: 1em;
    text-align: left;
}

.bkBtn {
    margin: 20px 0px;
    text-align:center;
}

.bkBtn button{
    border:solid 2px black;
    border-radius: 0.3em;
    background-color: black;
    
    font-size: 1.4em;
    color: white;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
}

div.ad1 {
    position: relative;
}